<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TurisCol - COCUY</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a th:href="@{/}">TurisCol</a></h1>     <!-- === parte izquierda === -->
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a th:href="@{/#portfolio}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Regiones</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style=" font-weight: bold;">PARQUE NACIONAL NATURAL EL COCUY</h2>
          <ol>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/#portfolio}">Región Andina.</a></li>
            <li>Regiones de Colombia.</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/cocuy/cocuy.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/cocuy/cocuy1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/cocuy/cocuy2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/cocuy/cocuy3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="quehacer">
              <h2>Que hacer?</h2>
              <ul><p>Desde hace décadas la Sierra Nevada de Güicán, El Cocuy y Chita, ha sido visitada por montanistas y escaladores, de procedencia tanto nacional como internacional. Para quienes gustan de practicar la escalada en roca, hielo y nieve, las travesías o el campismo, la Sierra Nevada del Cocuy es un verdadero paraíso. En ella se encuentran imponentes montañas, páramos y selvas que ocupan los valles entre los nevados y que harán las delicias de los más osados aventureros.</p></ul>
              <ul><p>Es un gran lugar para hacer senderismo y disfrutar de la fauna y flora, el Parque cuenta con más de 80 ríos y quebradas y 48 microcuencas. Además, el Parque presenta ecosistemas húmedos que albergan la mayor diversidad biológica del área. Los páramos húmedos con sus frailejones, cardones y cojines conforman una zona de conservación estratégica.</p></ul>
              <ul><p>Debido a la gran variedad de ecosistemas, existe diversidad de fauna, entre ellos se puede encontrar, cóndor de los andes, águila real, jaguar, el tigrillo, el venado de cola blanca, el mono lanudo, el armadillo y el oso de anteojos. Se cree que la danta de páramo ya no habita dentro del parque.</p></ul>
            </div>

            <div class="quehacer">
              <h2>Recomendaciones especiales:</h2>
              <ul><p>La Sierra Nevada de Güicán, El Cocuy y Chita es territorio sagrado para los indígenas uwa. El territorio del resguardo indígena está cerrado al turismo por lo que está prohibido transitar por el flanco oriental. Así mismo, el sendero conocido como “VUELTA A LA SIERRA” esta cerrado y el Boquerón de Cardenillo al norte con el Boquerón de Cusirí al sur son los sitios hasta los que se puede acceder en las caminatas de aclimatación.</p></ul>
              <ul><p>Está prohibido visitar el Parque a caballo, lo cual acarrea sanciones y/o multas.</p></ul>
              <ul><p>Antes de ingresar al área protegida, es obligatorio adquirir un Seguro de Rescate y Asistencia que cubra los días de permanecía en el Parque.</p></ul>
              <ul><p>Toda persona que quiera ingresar al Parque debe registrarse personalmente en las oficinas y recibir la charla de inducción obligatoria (de 15 minutos) para que su comportamiento dentro del área protegida sea adecuado y no genere impactos al ecosistema, colaborando de esta manera con los esfuerzos de conservación.</p></ul>
              <ul><p>Por las exigencias físicas de la visita y la altitud, está prohibido el ingreso de menores de 10 años al Parque. Tampoco se recomienda el ascenso de personas con discapacidad física, problemas cardiovasculares o respiratorios, mujeres en embarazo o adultos mayores.</p></ul>
              <ul><p>Queda prohibido que los turistas pernocten en el área protegida. El ingreso al Parque será de 5:00 a.m. a 9:00 a.m. y el horario de salida del área protegida será de 1:00 p.m. a 6:00 de la tarde, hora después de la cual no debe haber ningún turista en el Parque.</p></ul>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>REGION ANDINA</h3>
              <ul>
                <li><strong>Nombre:</strong> Parque nacional natural El Cocuy</li>
                <li><strong>Ubicación:</strong> Entre los municipios de Chita, el Espino, Cubará, Chiscas, el Cocuy y Güicán, en el Departamento de Boyacá; la Salina y Sácama en el Departamento de Casanare y San Lope y Tame en el Departamento de Arauca.</li>
                <li><strong>Departamento:</strong> Boyacá, Casanare y Arauca.</li>
                <li><strong>Tipo:</strong> Parque Nacional Natural.</li>
                <li><strong>Superficie:</strong> 3.060 km².</li>
                <li><strong>Clima:</strong> Debido a la gran extensión del parque, el clima va de cálido, pasando por templado y frío, hasta clima de páramo. La temperatura oscila entre los -20 y 30 ºC.</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Detalles: </h2>
              <p>
                Es la mayor masa glaciar de Colombia conformada por 25 picos cubiertos de hielo y nieve, tiene la ventaja de que buena parte de ella se puede recorrer a pie. Cuenta con una sucesión de picos nevados (de 4.800 a 5.300 msnm) que inicia con el Pan de Azúcar y continúa con los picos Diamante, Pulpito del Diablo, Tote. Portales, Cóncavoy Concavito, formando una majestuosa fila que llega hasta la Laguna Grande de la Sierra, una de las 150 que podrás disfrutar en este parque.
              </p>
            </div>
          </div>
        </div>

        <h2 style="font-size: 26px; font-weight: 700; margin-bottom: 20px;">Ubicación: </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d507547.5244686764!2d-72.3300344!3d6.3662113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2d2f62232a9a04b!2sParque%20Nacional%20Natural%20El%20Cocuy!5e0!3m2!1ses-419!2sco!4v1663714662413!5m2!1ses-419!2sco" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>