<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TurisCol - PALOMINO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a th:href="@{/}">TurisCol</a></h1>     <!-- === parte izquierda === -->
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a th:href="@{/#portfolio}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Regiones</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style=" font-weight: bold;">PALOMINO</h2>
          <ol>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/#portfolio}">Región Caribe.</a></li>
            <li>Regiones de Colombia.</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/palomino/palomino.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/palomino/palomino1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/palomino/palomino2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/palomino/palomino3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="quehacer">
              <h2>Que hacer?</h2>
              <ul><p>Tras un momento para contemplar la extensión de sus playas vas a sorprenderte con los planes para hacer. Además de hospedarte en los cómodos hoteles, podrás conocer la gastronomía local y las fusiones que sugieren los restaurantes internacionales.</p></ul>
              <ul><p>Si disfrutas la naturaleza y la aventura, pero prefieres un ritmo ameno, puedes realizar tubing en Palomino. Tendrás que acomodarte en un neumático o tubo de goma para deslizarte por el río Palomino. Mientras disfrutas de la vista y el atardecer, el río te llevará en un paseo inolvidable. Después del tramo de tubing, podrás caminar para ver la desembocadura del río en el océano Atlántico. Allí es posible apreciar los colores y ritmos que se crean cuando se junta el agua dulce con el agua salada.</p></ul>
              <ul><p>Entre mar y río también puedes practicar deportes extremos. Hay cascadas y muros donde se puede hacer torrentismo o rapel con seguridad. ¡Es toda una hazaña!</p></ul>
              <ul><p>En este lugar es posible disfrutar del oleaje del mar Caribe mientras se aprende a surfear. Incluso puedes experimentar un tipo de surf completamente distinto: el surf de remo. Los deportes extremos en Palomino son una gran opción para divertirse en medio de la naturaleza.</p></ul>
              <ul><p>Si visitas Palomino, no te puedes perder del Santuario de Fauna y Flora: Los Flamencos. Este santuario de La Guajira alberga diferentes especies de aves como garzas blancas, gaviotas, el cardenal bermejo y los famosos flamencos. En este paraje es posible apreciar el bosque tropical, así como el ecosistema de manglar. Además, la reserva que se encuentra a 70 kilómetros de Palomino tiene 4 ciénagas que se pueden visitar: Ciénaga del Navío Quebrado, Ciénaga de Tocoromanes, Ciénaga de Manzanillo y Laguna Grande.</p></ul>
              <ul><p>Una actividad memorable que puedes hacer es salir de Palomino a visitar Ciudad Perdida. Desde allí es posible conectar con una guía local de la comunidad indígena Tayrona. Tendrás la oportunidad de hacer un recorrido por la selva que cubre la sierra nevada de Santa Marta.</p></ul>
            </div>

            <div class="quehacer">
              <h2>Recomendaciones especiales:</h2>
              <ul><p>Procura vestir cómodamente y decídete por las telas livianas. Así podrás disfrutar el clima cálido del mar caribe. Recuerda que vas a requerir sombreros y viseras para protegerte de sol. Además de sandalias para estar en la playa, un buen par de zapatos serán tus aliados para caminar por la selva. Una chaqueta liviana para la lluvia será útil en este clima tropical.</p></ul>
              <ul><p>Lleva dinero en efectivo. En el municipio no hay cajeros automáticos. Sin embargo, puedes trasladarte a una de las ciudades cercanas. </p></ul>
              <ul><p>Para llegar a Palomino, puedes tomar un vuelo a la capital de La Guajira, Riohacha. O también a Santa Marta en el departamento de Magdalena. Estos destinos están a una hora y media por aire desde Bogotá.</p></ul>
              <ul><p>También puedes rentar un auto, para llegar desde ciudades como Santa Marta, La Guajira o incluso Barranquilla. Esta opción te permite detenerte y conocer otros atractivos turísticos como el Parque Tayrona, en trayectos con una duración de entre 2 y 4 horas.</p></ul>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>REGIÓN CARIBE</h3>
              <ul>
                <li><strong>Nombre:</strong> Palomino.</li>
                <li><strong>Ubicación:</strong> Palomino se encuentra en el municipio de Dibulla parte del departamento de la Guajira y está a solo 2 metros sobre el nivel del mar.</li>
                <li><strong>Departamento:</strong> La Guajira</li>
                <li><strong>Tipo:</strong> Corregimiento</li>
                <li><strong>Superficie:</strong> 6633 km²</li>
                <li><strong>Clima:</strong> Tropical húmedo Temperatura (promedio de 24 °C).</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Detalles: </h2>
              <p>
                Palomino es uno de los destinos más especiales del Caribe colombiano. Por su ubicación, al sur de la Sierra Nevada de Santa Marta, tiene un paisaje que combina la riqueza de la sierra con el mar Caribe. Además, gracias a los ríos Palomino, San Salvador y Don Diego, es un punto maravilloso para el ecoturismo.
              </p>
              <P>
                Aquí tendrás la oportunidad de disfrutar de caminatas a lo largo de las playas de Palomino que se extienden por kilómetros. O navegar por el rio, el lugar ideal para el tubing. Con todo lo que tiene para conocer, Palomino es el mejor destino para el descanso y la aventura.
              </P>
            </div>
          </div>
        </div>

        <h2 style="font-size: 26px; font-weight: 700; margin-bottom: 20px;">Ubicación: </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501284.6978601296!2d-73.94803582068883!3d11.017102619193928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef4d07eca45e207%3A0x64c035dce2c15d20!2sPalomino%2C%20Santa%20Marta%2C%20Magdalena!5e0!3m2!1ses-419!2sco!4v1664211808629!5m2!1ses-419!2sco" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>