<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TurisCol - SAN-ANDRES</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a th:href="@{/}">TurisCol</a></h1>     <!-- === parte izquierda === -->
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a th:href="@{/#portfolio}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Regiones</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style=" font-weight: bold;">ISLA DE SAN ANDRÉS</h2>
          <ol>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/#portfolio}">Región Insular.</a></li>
            <li>Regiones de Colombia.</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/Sanandres/Sanandres.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/Sanandres/Sanandres1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/Sanandres/Sanandres2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/Sanandres/Sanandres3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="quehacer">
              <h2>Que hacer?</h2>
              <ul><p>Desde el avión, la mejor tarjeta de presentación de San Andrés es su mar de siete colores. De hecho, el Archipiélago fue escogido como el mejor destino de Sol y Playa en los World Travel Awards de 2014, 2015 y 2019.</p></ul>
              <ul><p>Entre las mejores playas de la isla se encuentra <strong>Spratt Bright</strong>, ubicada en el sector comercial de San Andrés. Esta bordeada por un malecón lleno de restaurantes, hoteles, bares y tiendas. Sus más de 2 kilómetros de extensión ofrecen diversas actividades desde simplemente tomar el sol, hasta disfrutar de deportes náuticos como el kitesurf y jetsky.</p></ul>
              <ul><p>Otra importante playa es Cocoplum, que está protegida por una barrera coralina cuyo mar calmado y aguas cristalinas la convierten en un sitio ideal para pasar un día tranquilo con los más pequeños de la familia. Además, la poca profundidad de sus aguas permite caminar hasta Rocky Cay, un cayo rocoso rodeado de vida submarina a unos 200 metros de la orilla.</p></ul>
              <ul><p>Tampoco te puedes perder el Acuario, un conjunto de cayos conformados por Haynes Cay y Rose Cay. En el primero, de origen coralino, se encuentran restaurantes de comida típica y muestras de la fauna caribeña. El segundo es un banco de arena que se alarga o se encoge según el vaivén de las mareas.</p></ul>
              <ul><p>Es muy interesante visitar el Jardín Botánico, un espacio de 8 hectáreas en el centro de la isla en el que reina el aire fresco y puro. Allí se puede observar la vegetación que ha sobrevivido desde la era de los dinosaurios y otras plantas nativas.</p></ul>
              <ul><p>Por último, vale la pena que disfrutes de los atractivos de la isla, como la <strong>Cueva del Pirata Morgan</strong>, en el que, según la leyenda, este pirata guardaba las riquezas que robaba a los españoles.</p></ul>
            </div>

            <div class="quehacer">
              <h2>Recomendaciones especiales:</h2>
              <ul><p>Por su ubicación en el mar Caribe, el tiempo de San Andrés es paradisíaco. Las temperaturas oscilan entre los 26 y los 29°C a lo largo de todo el año, así que, ya sea invierno o verano, el clima promedio es de 27 ºC.</p></ul>
              <ul><p>Ten en cuenta que la temporada seca transcurre entre diciembre y mayo, mientras que la temporada de lluvias va de junio a noviembre. Por supuesto, la temporada seca es mejor para tu viaje, pero despreocúpate, pues las lluvias no son fuertes ni constantes, y no estropearán tu estadía.</p></ul>
              <ul><p>Recuerda que los turistas que viajan a la Isla de San Andrés deben comprar la tarjeta de turismo en el módulo de atención de la sala de espera el día del vuelo. Verifica el monto con anticipación. Además, ten presente que esta tarjeta se debe pagar en efectivo.</p></ul>
              <ul><p>Por último, debes saber que no es difícil encontrar alojamiento en San Andrés, pues la isla cuenta con una amplia oferta hotelera, que incluye opciones como hoteles resort, hoteles boutique y posadas nativas, que son casas de valor patrimonial o pertenecientes a la población raizal, y que sirven como alojamiento turístico representativo y tradicional de la isla.</p></ul>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>REGIÓN INSULAR</h3>
              <ul>
                <li><strong>Nombre:</strong> Isla de San Andrés.</li>
                <li><strong>Ubicación:</strong> Aproximadamente 637 km al noroeste de Colombia. Es la isla más grande del archipiélago.</li>
                <li><strong>Departamento:</strong>  San Andrés y Providencia.</li>
                <li><strong>Tipo:</strong> Isla – Volcánica, Coralina.</li>
                <li><strong>Superficie:</strong> 26 km².</li>
                <li><strong>Clima:</strong> Cálido (Temperatura entre 26 °C y 29 °C).</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Detalles: </h2>
              <p>
                La isla de San Andres es unas de las mejores playas del Caribe, un mar azul pero que también es verde y de tonos lila, y gente llena de amabilidad, fue declarada en el año 2000 Reserva Mundial de la Biosfera “Seaflower”. Esta reserva no solo incluye las islas y sus cayos lejanos; además, conforma el 10% del mar Caribe, con una extensión mayor a los 300 mil kilómetros cuadrados.
              </p>
              <p>
                A estas islas paradisíacas llegan viajeros de todo el mundo en busca de atardeceres perfectos, playas de arena blanca y altas palmeras que se mueven con la brisa y que, combinadas con las sonrisas despreocupadas de sus habitantes, convierten a este destino en uno de los mejores lugares para pasar unas vacaciones tropicales.
              </p>
              <p>
                En este pequeño paraíso las influencias de ingleses, españoles, piratas y corsarios se mezclaron con el pueblo afro para dar como resultado una cultura de mucha riqueza. De hecho, seguramente escuches a los lugareños hablar creole, una particular mezcla de inglés isabelino, español y dialectos africanos.
              </p>
              <p>
                Esta fusión cultural ha dejado una huella en la música, entre la que se encuentran ritmos como el reggae, el reggaeton, la soca, el calypso, el merengue, el vallenato y la salsa.
              </p>
            </div>
          </div>
        </div>

        <h2 style="font-size: 26px; font-weight: 700; margin-bottom: 20px;">Ubicación: </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983148.308331461!2d-82.00088558604345!3d12.856624961294369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f05a57a2812317f%3A0x39d7645f866b54c6!2sIsla%20de%20San%20Andr%C3%A9s!5e0!3m2!1ses-419!2sco!4v1664329616648!5m2!1ses-419!2sco" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>