<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TurisCol - TUPARRO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a th:href="@{/}">TurisCol</a></h1>     <!-- === parte izquierda === -->
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a th:href="@{/#portfolio}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Regiones</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style=" font-weight: bold;">PARQUE NACIONAL NATURAL EL TUPARRO</h2>
          <ol>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/#portfolio}">Región De La Orinoquía.</a></li>
            <li>Regiones de Colombia.</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/tuparro/tuparro.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/tuparro/tuparro1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/tuparro/tuparro2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/tuparro/tuparro3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="quehacer">
              <h2>Que hacer?</h2>
              <ul><p> <strong>Observación de fauna y flora silvestre:</strong> El Parque Nacional Natural El Tuparro, es un lugar perfecto para quienes se interesan por la fauna y flora; sin embargo, no es fácil visibilizar la fauna silvestre ya que la mayoría presentan hábitos crepusculares (amanecer y anochecer) y escurridizos. sin embargo para los observadores de aves, podrán disfrutar de algunas de las especies ya que hay registro de de más de 200 especies de aves.</p></ul>
              <ul><p> <strong>Sendero Attalea (Maipures):</strong> Con una longitud de tres (3) kilómetros, su recorrido se desarrolla por un sendero ascendente sobre el afloramiento rocoso y entre bosque de palmas. Desde su cumbre tendrá como premio la vista panorámica del raudal de Maipures. Dificultad moderada. No obstante, por temas de manejo interno este atractivo no está habilitado temporalmente para prestación de actividades ecoturísticas.</p></ul>
              <ul><p> <strong>Baño Recreativo:</strong> Actividad de baño que se puede desarrollar en los atractivos Bocas del Tomo, Raudal del Tuparro y caños de caño Peinillas.</p></ul>
            </div>

            <div class="quehacer">
              <h2>Recomendaciones especiales:</h2>
              <ul><p>Los visitantes que ingresen por Venezuela, deberán hacerlo mediante un operador turístico registrado y bajo su seguridad.</p></ul>
              <ul><p>Tener en cuenta el uso ropa e implementos adecuados a las condiciones de la zona, ya que al estar tan cerca de cuerpos de agua se presentan mosquitos, piedras lisas o resbalosas, así como altas temperaturas que en ocasiones superan los 34°C y al ser un área alejada por varias de horas de cualquier punto para compras, no se facilita la obtención de los elementos que lleguen a requerir para el desarrollo de la actividad ecoturística.</p></ul>
              <ul><p>Parques Nacionales Naturales se reserva el derecho de ingreso, se debe evitar ingresar a personas en estado de embriaguez o narcotizados, así mismo, está prohibido el ingreso de todo tipo de armas incluidos los arpones y demás elementos nocivos que atenten contra la biodiversidad tales como aerosoles, armas de fuego, cigarrillos, bebidas alcohólicas y alucinógenos.</p></ul>
              <ul><p>No está permitido: Acampar o pernoctar, hacer fogatas, ingresar animales domésticos, fumar, arrojar colillas de cigarrillos, quemar basura, consumo de alucinógenos y/o bebidas embriagantes, realizar talas, extraer material vegetal o animales silvestres.</p></ul>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>REGIÓN DE LA ORINOQUÍA </h3>
              <ul>
                <li><strong>Nombre:</strong> Parque Nacional Natural El Tuparro.</li>
                <li><strong>Ubicación:</strong> se encuentra ubicado en la Orinoquía en Colombia. Su superficie hace parte del departamento de Vichada.</li>
                <li><strong>Departamento:</strong> Vichada.</li>
                <li><strong>Tipo:</strong> Parque Nacional Natural.</li>
                <li><strong>Superficie:</strong> 548.000 Hectáreas.</li>
                <li><strong>Clima:</strong> Cálido (Temperatura 27°C).</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Detalles: </h2>
              <p>
                El Parque Tuparro podría describirse paisajísticamente como una extensa sabana verde surcada por grandes ríos con potentes raudales y playas doradas, pequeños caños de aguas cristalinas, bosques de galería, morichales y saladillales, además de enormes rocas cristalinas en forma de cerros redondeados. Se calcula la presencia de más de 320 especies de aves, muchas de ellas asociadas a los cuerpos hídricos.
              </p>
            </div>
          </div>
        </div>

        <h2 style="font-size: 26px; font-weight: 700; margin-bottom: 20px;">Ubicación: </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034156.1191981824!2d-69.72905816875002!3d5.268732800000009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e74f58c04844153%3A0xed3699227828119d!2sParque%20Nacional%20Natural%20El%20Tuparro!5e0!3m2!1ses-419!2sco!4v1664315369300!5m2!1ses-419!2sco" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>